In [43]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [2]:
spark = SparkSession.builder.appName('Finance').getOrCreate()

In [3]:
spark

In [8]:
#Read the dataset
df_pyspark=spark.read.csv('FinanceData.csv', header=True, inferSchema=True)

In [10]:
df_pyspark.show(3)

+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+---------------------------+------------+--------+------------+------------+----+
|   Segment|Country|   Product | Discount Band |Units Sold| Manufacturing Price | Sale Price | Gross Sales | Discounts |      Sales | COGS (Cost of Goods sold) |     Profit |    Date|Month Number| Month Name |Year|
+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+---------------------------+------------+--------+------------+------------+----+
|Government| Canada| Carretera |          None |    1618.5|               $3.00 |     $20.00 |  $32,370.00 |      $-   | $32,370.00 |                $16,185.00 | $16,185.00 |1/1/2014|           1|    January |2014|
|Government|Germany| Carretera |          None |    1321.0|               $3.00 |     $20.00 |  $26,420.00 |      $-   | $26,420.00 |                $13,210.00 | $13,210.00 |1/1/2014|           1|    January |2014|
| Midmarket| France| Carretera |          None |    2178.0|               $3.00 |     $15.00 |  $32,670.00 |      $-   | $32,670.00 |                $21,780.00 | $10,890.00 |6/1/2014|           6|       June |2014|
+----------+-------+-----------+---------------+----------+---------------------+------------+-------------+-----------+------------+---------------------------+------------+--------+------------+------------+----+
only showing top 3 rows

In [11]:
## Checking the Schema
df_pyspark.printSchema()

root
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |--  Product : string (nullable = true)
 |--  Discount Band : string (nullable = true)
 |-- Units Sold: double (nullable = true)
 |--  Manufacturing Price : string (nullable = true)
 |--  Sale Price : string (nullable = true)
 |--  Gross Sales : string (nullable = true)
 |--  Discounts : string (nullable = true)
 |--   Sales : string (nullable = true)
 |--  COGS (Cost of Goods sold) : string (nullable = true)
 |--  Profit : string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Month Number: integer (nullable = true)
 |--  Month Name : string (nullable = true)
 |-- Year: integer (nullable = true)

In [13]:
## Check DataFrame
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(1)

[Row(Segment='Government', Country='Canada',  Product =' Carretera ',  Discount Band =' None ', Units Sold=1618.5,  Manufacturing Price =' $3.00 ',  Sale Price =' $20.00 ',  Gross Sales =' $32,370.00 ',  Discounts =' $-   ',   Sales =' $32,370.00 ',  COGS (Cost of Goods sold) =' $16,185.00 ',  Profit =' $16,185.00 ', Date='1/1/2014', Month Number=1,  Month Name =' January ', Year=2014)]

In [25]:
##selecting columns and indexing
df_pyspark.select(['Country','Month Number']).show(10)

+-------+------------+
|Country|Month Number|
+-------+------------+
| Canada|           1|
|Germany|           1|
| France|           6|
|Germany|           6|
| Mexico|           6|
|Germany|          12|
|Germany|           3|
| Canada|           6|
| France|           6|
|Germany|           6|
+-------+------------+
only showing top 10 rows

In [36]:
## drop null values
df_pyspark.na.drop()

DataFrame[Segment: string, Country: string,  Product : string,  Discount Band : string, Units Sold: double,  Manufacturing Price : string,  Sale Price : string,  Gross Sales : string,  Discounts : string,   Sales : string,  COGS (Cost of Goods sold) : string,  Profit : string, Date: string, Month Number: int,  Month Name : string, Year: int]

In [45]:
## Searching for duplicates values
duplicates = df_pyspark.groupBy(*df_pyspark.columns).count().where(col("count") > 1)
duplicates.show()

+-------+-------+---------+---------------+----------+---------------------+------------+-------------+-----------+--------+---------------------------+--------+----+------------+------------+----+-----+
|Segment|Country| Product | Discount Band |Units Sold| Manufacturing Price | Sale Price | Gross Sales | Discounts |  Sales | COGS (Cost of Goods sold) | Profit |Date|Month Number| Month Name |Year|count|
+-------+-------+---------+---------------+----------+---------------------+------------+-------------+-----------+--------+---------------------------+--------+----+------------+------------+----+-----+
+-------+-------+---------+---------------+----------+---------------------+------------+-------------+-----------+--------+---------------------------+--------+----+------------+------------+----+-----+